<div class='form-group'>
  <%= f.label :name, nil, class: 'col-sm-2 control-label' %>
  <div class="col-sm-3">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class='form-group'>
  <div class='col-sm-offset-2 col-sm-4'>
    <%= f.submit "Create menu", class: 'btn btn-success' %>
  </div>
</div>
